@model InventoryManagement.Models.PurchageProduct
@{
    ViewData["Title"] = "AddPurchage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/lib/jquery/dist/jquery.min.js"></script>

<div class="page-wrapper">
	<div class="content">
		<div class="page-header">
			<div class="page-title">
				<h4>Purchase Add</h4>
				<h6>Add/Update Purchase</h6>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>Supplier Name</label>
							<div class="row">
								<div class="col-lg-12 col-sm-12 col-12">
									<input type="text" class="form-control" id="SupplierName">									
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>Bill No.</label>
							<div class="row">
								<div class="col-lg-12 col-sm-12 col-12">
									<input type="number" class="form-control" id="BillNo">
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>Bill Details </label>
							<div class="input-groupicon">
								<input type="text" class="form-control" id="BillDetails">
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>Purchage Date </label>
							<div class="input-groupicon">
								<input type="text" placeholder="YYYY-MM-DD" class="datetimepicker form-control" id="PurchageDate">
								<div class="addonset">
									<img src="/assets/img/icons/calendars.svg" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>Mobile No.</label>
							<input type="number" class="form-control" id="Mobile">
						</div>
					</div>
					<div class="row">
						<div class="table-responsive">
							<table class="table table-bordered" id="purachsedata">
								<thead>
									<tr>
										<th>Item Name</th>
										<th>QTY</th>
										<th>Purchase Price</th>
										<th >Total Cost	</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>										
										<td><input type="text" class="form-control"  id="itemname_0" name="itemname_0"/></td>
										<td><input type="text" class="form-control" id="Qty_0" name="Qty_0" onchange="CalculateAmount(0)" /></td>
										<td><input type="text" class="form-control" id="purchaseprince_0" name="purchaseprince_0" onchange="CalculateAmount(0)" /></td>
										<td><input type="text" class="form-control" id="TotalCost_0" name="TotalCost_0" disabled/></td>
										<td>
											<button id="delete_Purchage"><img src="/assets/img/icons/delete.svg" alt="svg"></button>
											<button style="color:green;font-size:20px" onclick="AddTableRow(this)"><i class="fa fa-plus"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 float-md-right">
							<div class="total-order">
								<ul>
									<li class="total">
										<h4>Total Amount</h4>
										<h5 id="totalamount">₹ 0.00</h5>
									</li>
									<li>
										<h4>Discount %</h4>
										<h4><input type="number" id="discount" class="form-control" onchange="disAmount(this)" /></h4>
									</li>
									<li class="total">
										<h4>Grand Total</h4>
										<h5 id="grandtotal">₹ 0.00</h5>
									</li>
								</ul>
							</div>
						</div>
					</div>					
				</div>
				<div class="col-lg-12">
					<button class="btn btn-submit me-2" onclick="SaveData(this)">Submit</button>
					<a href="purchaselist.html" class="btn btn-cancel">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</div>



<script>
	function SaveData(obj) {
		var mainobj = new Object();
		mainobj.SupplierName = $("#SupplierName").val();
		mainobj.BillNo = $("#BillNo").val();
		mainobj.BillDetails = $("#BillDetails").val();
		mainobj.PurchageDate = $("#PurchageDate").val();
		mainobj.Mobile = $("#Mobile").val();
		mainobj.Totalamount = +$("#totalamount").text().slice(2);
		mainobj.Discount = $("#discount").val();
		mainobj.Grandtotal =  +$("#grandtotal").text().slice(2);


		var itemlist = new Array();
		$("#purachsedata tbody tr").each(function (a) {
			var itemName = $(this).find('[id^="itemname_"]').val();
			var Qty = $(this).find('[id^="Qty_"]').val();
			var purchaseprince = $(this).find('[id^="purchaseprince_"]').val();
			var TotalCost = $(this).find('[id^="TotalCost_"]').val();


			itemlist.push({
				itemName,
				Qty,
				purchaseprince,
				TotalCost
			});			
		});
		mainobj.purchageitem = itemlist;
		var Data = JSON.stringify(mainobj);
		$.post("/Purchage/AddPurchage", { data: Data }, function (result) {
			alert(result);
			window.location.href = window.location.href;
		})

	};



	function AddTableRow(obj) {
		var rowcount = $("#purachsedata tbody tr").length;
		var newrow = "<tr>"
		newrow += "<td><input type='text'  id='itemname_" + rowcount + "'onchange='CalculateAmount(" + rowcount + "); ' name='itemname_" + rowcount + "' class='form-control'/></td>";
		newrow += "<td><input type='text' id='Qty_" + rowcount + "' name='Qty_" + rowcount + "' class='form-control' /></td>";
		newrow += "<td><input type='text' id='purchaseprince_" + rowcount + "'onchange='CalculateAmount(" + rowcount + "); ' name='purchaseprince_" + rowcount + "' class='form-control'/></td>";
		newrow += "<td><input type='text' id='TotalCost_" + rowcount + "' name='TotalCost_" + rowcount + "' class='form-control' disabled/></td>";
		newrow += "<td><button id='delete_Purchage'><img src='/assets/img/icons/delete.svg' alt = 'svg' > </button>";
		newrow += "<button style = 'color:green;font-size:20px' onclick = 'AddTableRow(this)' > <i class='fa fa-plus' > </i></button > </td>";
		newrow += "</tr>";	
		
		$("#purachsedata tbody").append(newrow);
	};




	$(document).on("click","#delete_Purchage",function() {
		var rowdelete = $(this).closest("tr");
		rowdelete.remove();

		$("#purachsedata tbody tr").each(function (index) {
			$(this).find("input").each(function () {
				var currentId = $(this).attr("id");
				var prefix = currentId.substring(0, currentId.lastIndexOf("_") + 1);
				$(this).attr("id", prefix + index);
			});
		});
	});

	function disAmount(obj) {
		var discount=$("#discount").val();
		var amount = +$("#totalamount").text().slice(2);
			amount -= amount * +discount / 100;
		$("#grandtotal").text('₹ ' + amount.toFixed(2));
	}
	
	var Discount = 0;
	var grandTotal = 0;
	var total = 0;
	function CalculateAmount(obj) {
		var amount = 0;
		var qty = 0;
		qty = $("#Qty_"+obj).val();
		amount = $("#purchaseprince_" + obj).val();		
		total = qty * amount;
		$("#TotalCost_" + obj).val(total);
		discountAmount();
	}


	function discountAmount(){
		var TotalAmount = 0;
		$("#purachsedata tbody tr").each(function () {	
			var rowId = $(this).find("input").attr("id").split('_')[1];
			TotalAmount += parseFloat($("#TotalCost_" + rowId).val());
			$("#totalamount").text('₹ ' + TotalAmount.toFixed(2));		
			$("#grandtotal").text('₹ '+TotalAmount.toFixed(2) );
		});
	}
</script>


