
@{
	ViewData["Title"] = "SalesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/internal/stylesheet.css" rel="stylesheet" />

<div class="page-wrapper">
	<div class="content">
		<div class="page-header">
			<div class="page-title">
				<h4>Sales Report</h4>
				<h6>Manage your sales Bill</h6>
			</div>
		</div>


		<!-- /product list -->
		<div class="card">
			<div class="card-body">
				<div class="table-top">
					<div class="search-set">
						<div class="search-path">
							<a class="btn btn-filter" id="filter_search">
								<img src="/assets/img/icons/filter.svg" alt="img">
								<span><img src="/assets/img/icons/closes.svg" alt="img"></span>
							</a>
						</div>
						<div class="search-input">
							<a class="btn btn-searchset"><img src="/assets/img/icons/search-white.svg" alt="img"></a>
						</div>
					</div>
					<div class="wordset">
						<ul>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="/assets/img/icons/pdf.svg" alt="img"></a>
							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="/assets/img/icons/excel.svg" alt="img"></a>
							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="/assets/img/icons/printer.svg" alt="img"></a>
							</li>
						</ul>
					</div>
				</div>
			<!--
				Layout Invoice page
			-->
			

				<div class="receipt-content">
					<div class="container bootstrap snippets bootdey">
						<div class="row">
							<div class="col-md-12">
								<div class="invoice-wrapper">
									<div class="row text-center text-decoration-underline"><h3>INVOICE</h3></div>
									<div class="intro">
										@* Hi <strong>John McClane</strong>,
										<br> *@
										@* This is the receipt for a payment of <strong>$312.00</strong> (USD) for your works *@
									</div>

									<div class="payment-info">
										<div class="row">
											<div class="col-sm-6">
												<span>Company Info.</span>
												<h4>VARCAS SOFTWERE SOLUTION</h4>
												<h6>Aliganj lucknow</h6>
												<p>+91 9519666109<br />
													abhaybind6209@gmail.com</p>
											</div>
											<div class="col-sm-6 text-right">
												<span>Sales Date</span>
												<strong>10-june-2024 - 12:20 pm</strong>
											</div>
										</div>
									</div>

									<div class="payment-details">
										<div class="row">
											<div class="col-sm-6">
												<h3><span>BILL TO.</span></h3>
												<strong>Andres felipe posada</strong>
												<p>
													989 5th Avenue <br>
													City of monterrey <br>
													55839 <br>
													USA <br>
													<a href="#">
														jonnydeff@gmail.com
													</a>
												</p>
											</div>
											<div class="col-sm-6 text-right">
												<h3><span>SHIP TO.</span></h3>
												<strong>
													Juan fernando arias
												</strong>
												<p>
													344 9th Avenue <br>
													San Francisco <br>
													99383 <br>
													USA <br>
													<a href="#">
														juanfer@gmail.com
													</a>
												</p>
											</div>
										</div>
									</div>

									<div class="line-items">
										<div class="headers clearfix">
											<table class="table table-bordered border-1 !importent">
												<thead class="border-info">
													<tr>
														<td>Sales Person</td>
														<td>P. O.</td>
														<td>SHIP DATE</td>
														<td>SHIP VIA</td>
														<td>FOB</td>
														<td>TERMS</td>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Sales Person</td>
														<td>P. O.</td>
														<td>SHIP DATE</td>
														<td>SHIP VIA</td>
														<td>FOB</td>
														<td>TERMS</td>
													</tr>													
													<tr>
														<td>Sales Person</td>
														<td>P. O.</td>
														<td>SHIP DATE</td>
														<td>SHIP VIA</td>
														<td>FOB</td>
														<td>TERMS</td>
													</tr>


												</tbody>
											</table>
										</div>
										<div class="items">
											<div class="row item">
												<table class="table table-bordered">
													<thead class="table-info">
														<tr>
															<td>Sr.No.</td>
															<td>Item Name</td>
															<td>Description</td>
															<td>QTY</td>
															<td>Price</td>
															<td>Total price</td>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td></td>
															<td></td>
															<td></td>
															<td></td>
															<td></td>
															<td></td>
														</tr>
													</tbody>
													<tfoot>
														<tr></tr>
													</tfoot>
												</table>
											</div>
											
										</div>
										<div class="total text-right">
											<p class="extra-notes">
												<strong>Extra Notes</strong>
												Please send all items at the same time to shipping address by next week.
												Thanks a lot.
											</p>
											<div class="field">
												Subtotal <span>$379.00</span>
											</div>
											<div class="field">
												Shipping <span>$0.00</span>
											</div>
											<div class="field">
												Discount <span>4.5%</span>
											</div>
											<div class="field grand-total">
												Total <span>$312.00</span>
											</div>
										</div>

										<div class="print">
											<a href="#">
												<i class="fa fa-print"></i>
												Print this receipt
											</a>
										</div>
									</div>
								</div>

								<div class="footer">
									Copyright © 2014. company name
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
		<!-- /product list -->
	</div>
</div>

