 @model InventoryManagement.Models.ProductClass
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddProduct</h1>

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Product Add</h4>
                <h6>Create new product</h6>
            </div>
        </div>
        <!-- /add -->
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" asp-action="AddProduct" asp-controller="Product">
                    @Html.HiddenFor(a=>a.ProductId)
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.SelectList" onchange="selectSubCategory(this)">
                                    <option value="0">select Category</option>                                  
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Sub Category</label>
                                <select class="form-control" asp-for="SubCategoryId" onchange="SelectBrand(this)">
                                    <option value="0"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Brand</label>
                                <select class="form-control" asp-for="BrandId">
                                    @* @foreach (var dr in Model.BrandList)
                                    {
                                        <option value="@dr.Value">@dr.Text</option>
                                    } *@
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Product Name</label>
                                <input type="text" class="form-control" asp-for="ProductName">
                            </div>
                        </div>
                       
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Price</label><span id="pr"></span>
                                <input type="text" asp-for="Price" onchange="check(this);">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Quantity</label><span id="qt"></span>
                                <input type="text" asp-for="Qty" onchange="Quentity(this)">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Total Price</label>
                                <input type="text" asp-for="TotalPrice" onfocus="Total(this)">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" asp-for="ProductDisc"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>	Product Image</label>
                                <div class="image-upload">
                                    <input type="file" asp-for="ProductImage">
                                    <div class="image-uploads">
                                        <img src="~/assets/img/icons/upload.svg" alt="img">
                                        <h4>Drag and drop a file to upload</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 text-center">
                            <input type="submit" value="Submit" class="btn btn-submit me-2" />
                            <a href="/Product/ProductView" class="btn btn-cancel">Cancel</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <!-- /add -->
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        function selectSubCategory(obj) 
        {
            var CategoryId = $("#CategoryId").val();
            $.post("/Product/AddProductSub", { id: CategoryId }, function (res) {
                $("#SubCategoryId").empty();
                $("#SubCategoryId").append('<Option value=0>Choose SubCategory</Option>');                
                $.each(res, function (i, subCategory) {
                    $("#SubCategoryId").append('<Option value="' + subCategory.subCategoryId + '">' + subCategory.subCategoryName + '</Option>');                    
                })
            })
        }

        function SelectBrand(obj) 
        {
            var CategoryId = $("#CategoryId").val();
            $.post("/Product/AddProductBrand", { id: CategoryId }, function (res) {
                $("#BrandId").empty();
                $("#BrandId").append('<Option value=0>Choose SubCategory</Option>');
                $.each(res, function (i, subCategory) {
                    $("#BrandId").append('<Option value="' + subCategory.brandId + '">' + subCategory.brandName + '</Option>');
                })
            })
        }





        function check(price) {
            if ($('#Price').val() == "") {
                $('#qt').hide();
                $('#pr').show();
                $('#pr').text("Please Inter Valide Price");
                $('#pr').focus();
            }
            else{
                $('#pr').hide();
            }

        }

        function Quentity(obj) {
            if ($('#Qty').val() == "") {
                $('#qt').show();
                $('#qt').text("Please Inter Quentity");
            }
            else {
                $('#qt').hide();
            }

        }

        function Total(obj) {
            var p = $('#Qty').val();
            var q = $('#Price').val();
            if (p != "" && q != "") {
                $('#TotalPrice').val(q * p);
            }
        }

    </script>
