@model InventoryManagement.Models.BrandClass
@{
    ViewData["Title"] = "ViewBrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/jquery.js"></script>
<script>
	function DeleteBrand(obj) {
		var UserId = $(obj).attr("userId");
		if (UserId > 0 && UserId != null && UserId != 0) {
			$.post("/Brand/DeleteBrandData", { Id: UserId }, function () {
				alert("Category Data is Deleted");
			})
			window.location.href = "/Brand/ViewBrand";
		}

	}
</script>
<div class="page-wrapper">
	<div class="content">
		<div class="page-header">
			<div class="page-title">
				<h4>Product Brand list</h4>
				<h6>View/Search Brand</h6>
			</div>
			<div class="page-btn">
				<a href="@Url.Action("AddBrandData","Brand")" class="btn btn-added">
					<img src="~/assets/img/icons/plus.svg" class="me-1" alt="img">Add  Brand
				</a>
			</div>
		</div>


		<!-- /product list -->
		<div class="card">
			<div class="card-body">
				<div class="table-top">
					<div class="search-set">
						<div class="search-path">
							<a class="btn btn-filter" id="filter_search">
								<img src="~/assets/img/icons/filter.svg" alt="img">
								<span><img src="~/assets/img/icons/closes.svg" alt="img"></span>
							</a>
						</div>
						<div class="search-input">
							<a class="btn btn-searchset"><img src="~/assets/img/icons/search-white.svg" alt="img"></a>
						</div>
					</div>
					<div class="wordset">
						<ul>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="~/assets/img/icons/pdf.svg" alt="img"></a>
							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="~/assets/img/icons/excel.svg" alt="img"></a>
							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="~/assets/img/icons/printer.svg" alt="img"></a>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="table-responsive">
					<table class="table  datanew">
						<thead>
							<tr>
								<th>
									<label class="checkboxs">
										<input type="checkbox" id="select-all">
										<span class="checkmarks"></span>
									</label>
								</th>
								<th>Image</th>
								<th>Brand name</th>
								<th>Brand Description</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							@{
								if (Model.Brand.Any() && Model.Brand!=null&& Model.Brand.Count>0)
								{
									foreach (var dr in Model.Brand)
									{
										<tr>
											<td>
												<label class="checkboxs">
													<input type="checkbox">
													<span class="checkmarks"></span>
												</label>
                                            </td>
											<td><img src="~/uploadimg/brandimage/@dr.BrandImgPath" style="height:70px;width:70%;" /></td>
											<td>@dr.BrandName</td>
											<td>@dr.BrandDesc</td>
											<td>
												<a class="me-3 confirm-text" href="/Brand/AddBrandData/@dr.BrandId">
													<img src="~/assets/img/icons/edit.svg" />
												</a>

												<button class="me-3 confirm-text" userId="@dr.BrandId" onclick="DeleteBrand(this)">
												 	<img src="~/assets/img/icons/delete.svg" alt="img">
												</button>

											</td>
										</tr>
									}
								}								
							} 
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- /product list -->
	</div>
</div>



